<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>What is Chai?</title>
<style type="text/css">
<!--
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	background-image: url(images/patt_489a4483ee4fa.jpg);
	background-attachment:fixed;
}
.oneColFixCtrHdr #container {
	width: 763px;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 800px;
}
.oneColFixCtrHdr #header {
	background-image: url(images/Header.png);
	height: 210px;
	background-repeat: no-repeat;
}
.oneColFixCtrHdr #container #mainBGRD {
	background-image: url(images/MedBGRD.png);
	height: 535px;
	width: 683px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 5px;
	padding-right: 40px;
	padding-left: 40px;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px;
}
#Layer2 {
	position:absolute;
	left:282px;
	top:223px;
	width:768px;
	height:37px;
	z-index:1;
	visibility: visible;
}
.style1 {font-family: "Times New Roman", Times, serif}
#Layer1 {
	position:absolute;
	left:278px;
	top:586px;
	width:752px;
	height:23px;
	z-index:1;
}
.oneColFixCtrHdr #Layer1 {
	height: 25px;
	width: 763px;
	background-image: url(images/Overlap.png);
	text-align: center;
	left: 281px;
	bottom: 50%;
}
.oneColFixCtrHdr #container #Spacer {
	height: 60px;
}
.style2 {
	font-size: small;
	color: #666666;
}
.oneColFixCtrHdr #container #mainBGRD #cup_pic {
	height: 120px;
	width: 180px;
}
.oneColFixCtrHdr #container #mainBGRD #pile_chai {
	height: 185px;
	width: 313px;
	float: right;
	margin-left: 15px;
}
.oneColFixCtrHdr #container #mainBGRD #cup_of_chai {
	height: 180px;
	width: 228px;
	float: left;
	margin-right: 20px;
}
.oneColFixCtrHdr #container #mainBGRD #chai_header {
}
.oneColFixCtrHdr #container #mainBGRD #chai_header {
	height: 50px;
	margin-bottom: 20px;
	width: 683px;
	margin-top: 10px;
}
a:link {
	text-decoration: none;
	color: #31491E;
}
a:visited {
	text-decoration: none;
	color: #31491E;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}
a:active {
	text-decoration: none;
}
.style7 {font-size: 90%}
.style8 {font-size: 100%; }
.style9 {
	font-size: 85%;
	font-style: italic;
}

a#contact:link {
	text-decoration: underline;
	color: #888;
}
a#contact:visited {
	text-decoration: underline;
	color: #888;
}

-->
</style>

<link rel="shortcut icon" href="http://spillthebeans.tv/favicon2.ico" />
</head>

<body class="oneColFixCtrHdr" onload="MM_preloadImages('file:///C|/Documents and Settings/Compaq_Administrator/Desktop/ChaiGuy/barLINKSover.png','images/barHOMEover.png','images/barCHAIover.png','images/barORDERover.png','images/barDRWILSONover.png','images/barLINKSover.png')">
<div id="container">
  <!-- end #container -->
  <div id="header"></div>

  <%= partial "shared/tablenav" %>
  
  <div class="style1" id="mainBGRD">
    <div id="chai_header"><img src="images/chai header.png" width="683" height="50" /></div>
    <div id="pile_chai"><img src="images/pile_of_chai.png" width="313" height="185" /></div>
    <p class="style7"> Chai is a beverage made by brewing tea with a mixture of aromatic spices. By itself, chai is merely the generic word for tea in India and much of the world, but for many English speakers, &quot;chai&quot; is always construed as &quot;masala chai&quot;. Chai is the word for tea in Iran, Asia, Brazil, North and East Africa and Eastern Europe. In much of South Asia, chai is more popular than coffee.The traditional chai-brewing process in India requires the tea leaves to 						       be boiled over sustained heat. Chai prepared in this manner has about the 							       same amount of caffeine as coffee.<br />  
      <br />
    </p>
    <div class="style7" id="cup_of_chai"><img src="images/cup_of_chai.png" width="228" height="180" /></div>
    <p class="style7">The redundant term chai 	tea is sometimes 							used to indicate spiced milky tea as distinct from other types 	of tea. Numerous coffee houses use the term chai latte for their version to indicate that the							 steamed milk of a normal cafe latte is being flavored with a spiced tea concentrate instead of with espresso. For maximum redundance, some coffeehouses 							and brand names refer to their product as chai tea latte.</p>
    <p class="style9">Dr. Wilson's is a traditional Chai, but new to America. I use only the right kind of tea and the freshest spices, ground to bring out the soothing, yet energizing properties of real chai!</p>
    <p align="center" class="style8"><a href="http://en.wikipedia.org/wiki/Chai">[&#8212;Wikipedia&#8212;]</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="order.html">&nbsp;[&#8212;I want some real chai!&#8212;]</a><br />
    </p>
      </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a id="contact" target="_blank" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11146792-4");
pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
