<!doctype html> 
<html> 
<head> 
  <meta charset="utf-8"> 
  <title>Chai</title> 
  <link rel="stylesheet" href="/stylesheets/main.css">
</head> 
<body>
  
  <%= yield %>
  
  <script src="/javascripts/main.js"></script>
  <div class="row">
  	<div class="twelve columns">
  		<div class="twelve columns">
  			<p class="subtle"><a href="javascript:void((function(){var%20cjs=document.createElement('script');cjs.setAttribute('src','/_copy.js?'+new%20Date().getTime());cjs.setAttribute('type','text/javascript');document.getElementsByTagName('head')[0].appendChild(cjs);})());">Edit Copy</a></p>
  		</div>
  	</div>
  </div>
</body> 
</html>