<div id="container">
  <div id="header"></div>
  <%= partial "shared/tablenav" %>
  <div class="style1" id="mainBGRD">	
    <p class="style5"><strong><em>Places for good Bible and Science information: </em></strong></p>
    <p>Rogma: Free, online Bible study courses in several languages<br />&nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.rogma.org">http://www.rogma.org</a></p>
    <p>The Institute for Creation Research<br />&nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.icr.org">http://www.icr.org</a></p>
    <p>Michael S. Heiser: What happened  in Genesis Ch. 6<br />&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.michaelsheiser.com">http://www.michaelsheiser.com</a> </p>
    <p class="style5"><strong><em>A place with good Gospel tracts</em></strong> </p>
    <p class="style4">Chick Publications<br /> &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.chick.com">http://www.chick.com</a> </p>
    <p class="style5"><em><strong>A place with good Gospel messages and news </strong></em></p>
    <p>Sermon Audio<br /> &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.sermonaudio.com">http://www.sermonaudio.com</a>  </p>
  </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a  target="_blank" id="contact" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>
