<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Links</title>
<style type="text/css">
<!--
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	background-image: url(images/patt_489a4483ee4fa.jpg);
	background-attachment:fixed;

}
.oneColFixCtrHdr #container {
	width: 763px;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 800px;
}
.oneColFixCtrHdr #header {
	background-image: url(images/Header.png);
	height: 210px;
	background-repeat: no-repeat;
}
.oneColFixCtrHdr #container #mainBGRD {
	background-image: url(images/LongBGRD.png);
	height: 660px;
	width: 683px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 15px;
	padding-right: 40px;
	padding-left: 40px;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px;
}
.style1 {font-family: "Times New Roman", Times, serif}
.oneColFixCtrHdr #Layer1 {
	height: 25px;
	width: 763px;
	background-image: url(images/Overlap.png);
	text-align: center;
	left: 281px;
	bottom: 50%;
}
.oneColFixCtrHdr #container #Spacer {
	height: 60px;
}
.style2 {	font-size: small;
	color: #666666;
}
.style3 {
	font-size: x-large;
	color: #334C20;
}
.style4 {font-size: medium; }
.style5 {font-size: x-large; color: #334C21; }
a:link {
	color: #003366;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

a#contact:link {
	text-decoration: underline;
	color: #888;
}
a#contact:visited {
	text-decoration: underline;
	color: #888;
}

-->
</style>
</head>

<body class="oneColFixCtrHdr" onload="MM_preloadImages('file:///C|/Documents and Settings/Compaq_Administrator/Desktop/ChaiGuy/barLINKSover.png','images/barHOMEover.png','images/barCHAIover.png','images/barORDERover.png','images/barDRWILSONover.png','images/barLINKSover.png')">
<div id="container">
  <!-- end #container -->
  <div id="header"></div>

  <%= partial "shared/tablenav" %>
  
  <div class="style1" id="mainBGRD">	
    <p class="style5"><strong><em>Places for good Bible and Science information: </em></strong></p>
    <p>Rogma: Free, online Bible study courses in several languages<br />&nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.rogma.org">http://www.rogma.org</a></p>
    <p>The Institute for Creation Research<br />&nbsp;&nbsp;&nbsp; <a target="_blank" href="http://www.icr.org">http://www.icr.org</a></p>
    <p>Michael S. Heiser: What happened  in Genesis Ch. 6<br />&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.michaelsheiser.com">http://www.michaelsheiser.com</a> </p>
    <p class="style5"><strong><em>A place with good Gospel tracts</em></strong> </p>
    <p class="style4">Chick Publications<br /> &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.chick.com">http://www.chick.com</a> </p>
    <p class="style5"><em><strong>A place with good Gospel messages and news </strong></em></p>
    <p>Sermon Audio<br /> &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.sermonaudio.com">http://www.sermonaudio.com</a>  </p>
  </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a  target="_blank" id="contact" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11146792-4");
pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
