<div id="container">
  <!-- end #container -->
  <div id="header"></div>
  <%= partial "shared/tablenav" %> 
  <div class="style1" id="mainBGRD">
    <p><strong>Home-Brew kits avalable here!</strong><br />
      Each Bag contains:<br />
      <em>Specially selected tea, Masala (spices)<br />
      filters and recipes.</em><br />
      Makes aproximately 12 servings.<br />
    (each serving is enough for two)</p>
    <p><strong>All for only <span class="style3">15.75</span><br />
    + 5.00 S &amp; H.</strong><br />
    <span class="style6">(that's about 86 cents per cup) </span></p>
    <p>BuyNow Charge is 20.75 (includes S &amp; H). Credit cards and PayPal Accepted.</p><p><strong>If you are interested in ordering, just send a message using the form below and Dr.&nbsp;Wilson will get back to you.</strong></p>
    <p style="color:#B00" > * please fill in all the blanks</p>
  </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a id="contact" target="_blank" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>

