<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Purchase Fresh Authentic Chai</title>
<style type="text/css">
<!--
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	background-image: url(images/patt_489a4483ee4fa.jpg);
	background-attachment:fixed;
}
.oneColFixCtrHdr #container {
	width: 763px;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 800px;
}
.oneColFixCtrHdr #header {
	background-image: url(images/Header.png);
	height: 210px;
	background-repeat: no-repeat;
}
.oneColFixCtrHdr #container #mainBGRD {
	background-image: url(images/LongBGRD.png);
	height: 660px;
	width: 683px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 15px;
	padding-right: 40px;
	padding-left: 40px;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px;
}
.style1 {font-family: "Times New Roman", Times, serif}
.oneColFixCtrHdr #Layer1 {
	height: 25px;
	width: 763px;
	background-image: url(images/Overlap.png);
	text-align: center;
	left: 281px;
	bottom: 50%;
}
.oneColFixCtrHdr #container #Spacer {
	height: 60px;
}
.style2 {	font-size: small;
	color: #666666;
}
.style3 {color: #990000}
.oneColFixCtrHdr #container #mainBGRD #stb_pic {
	float: left;
	height: 100px;
	width: 150px;
	margin-top: 20px;
	margin-right: 20px;
}
.oneColFixCtrHdr #container #mainBGRD #horizontalrule {
	width: 683px;
	height: 25px;
}
.oneColFixCtrHdr #container #mainBGRD #product_pic {
	height: 250px;
	width: 350px;
	float: right;
	margin-top: 40px;
}
.style6 {font-size: small}
a#contact:link {
	color: #888;
}
a#contact:visited {
	color: #888;
}

-->
</style>
</head>

<body class="oneColFixCtrHdr" onload="MM_preloadImages('file:///C|/Documents and Settings/Compaq_Administrator/Desktop/ChaiGuy/barLINKSover.png','images/barHOMEover.png','images/barCHAIover.png','images/barORDERover.png','images/barDRWILSONover.png','images/barLINKSover.png')">
<div id="container">
  <!-- end #container -->
  <div id="header"></div>

  <%= partial "shared/tablenav" %>
  
  <div class="style1" id="mainBGRD">
    <p><strong>Home-Brew kits avalable here!</strong><br />
      Each Bag contains:<br />
      <em>Specially selected tea, Masala (spices)<br />
      filters and recipes.</em><br />
      Makes aproximately 12 servings.<br />
    (each serving is enough for two)</p>
    <p><strong>All for only <span class="style3">15.75</span><br />
    + 5.00 S &amp; H.</strong><br />
    <span class="style6">(that's about 86 cents per cup) </span></p>
    <p>BuyNow Charge is 20.75 (includes S &amp; H). Credit cards and PayPal Accepted.</p><p><strong>If you are interested in ordering, just send a message using the form below and Dr.&nbsp;Wilson will get back to you.</strong></p>
    <p style="color:#B00" > * please fill in all the blanks</p>
    <!-- 123ContactForm.com script begins here -->

<center>
<form  class="form" action="http://www.123contactform.com/contact-form-justintime1889-39936.html" method="POST" enctype="multipart/form-data">
<input type="hidden" name="action" value="verify"><table  cellpadding="2">
<tr><td  style="text-align: right;" valign=top><font size="2" FACE="Verdana" color="#000000">Name:</font><small><span style="color:#E00000;" title="Required field">*</span></small></td><td align="left">
<input name="control229604"   type="text" value="" size="20"/>
</td></tr>
<tr><td  style="text-align: right;" valign=top><font size="2" FACE="Verdana" color="#000000">Email:</font><small><span style="color:#E00000;" title="Required field">*</span></small></td><td align="left">
<input name="control229605"   type="text" value="" size="20"/>
</td></tr>
<tr><td  style="text-align: right;" valign=top><font size="2" FACE="Verdana" color="#000000">Subject:</font><small><span style="color:#E00000;" title="Required field">*</span></small></td><td align="left">
<input name="control229606"   type="text" value="" size="20"/>
</td></tr>
<tr><td  style="text-align: right;" valign=top><font size="2" FACE="Verdana" color="#000000">Message:</font><small><span style="color:#E00000;" title="Required field">*</span></small></td><td align="left">
<textarea name="control229607" rows="5" cols="35"></textarea>
</td></tr>

<tr><td align=right><a title="Don't know why you have to enter this verification number? Click here!" href="http://www.123contactform.com/faq.html#q1" onClick="window.open('http://www.123contactform.com/faq.html#q1','_blank','width=740, height=90, left=' + (screen.width/2-370) + ', top=250');return false;"><img border="0" src="http://www.123contactform.com/img/help_icon.gif" alt="contact form faq"></a></td>
<td align="left"><img src="http://www.123contactform.com/random.php"></td>
</tr>
<tr><td  style="text-align: right;" valign=top><font size="2" FACE="Verdana" color="#000000">Verification No.:<small><span style="color:#E00000;" title="Required field">*</span></small></font></td>
<td align="left" valign=top><input name="txtNumber" type="text" id="txtNumber" value="" size="10"></td></tr>
<tr><td></td><td align="left"><input type="submit" value="Send email"/></td></tr>
</table>
</form>
<p align=center><font size="1" FACE="Verdana" color="#000000"><a href="http://www.123contactform.com">HTML form</a> powered by 123ContactForm</font></p></center>

<!-- 123ContactForm.com script ends here -->
  </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a id="contact" target="_blank" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11146792-4");
pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
