<div id="container">
  <!-- end #container -->
  <div id="header"></div>
  <%= partial "shared/tablenav" %>
  <div class="style1" id="mainBGRD">	
    <div id="drwilsonTOP">
      <p>Corperate HQ:</p>
      <p>American-Indian Trading Co. LLC<br />
      Greenville, SC <br />
      USA <br />
      </p>
    </div>
    <div id="drwilsonTOPR">
      <p>&nbsp;</p>
      <p>Email: &nbsp;&nbsp;&nbsp;info ( a t ) chaiguy.net</p>
      <p>Jobs:&nbsp;&nbsp;&nbsp;&nbsp; info ( a t ) chaiguy.net</p>
    </div>
    <p>&nbsp;</p>
    <div id="DrWilsonPIC"><img src="/images/DrWilson.png" width="274" height="331" /></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Dr. Wilson was born in India and since then, the rich and exotic Indian culture has enriched his life. He considers India his homeland, though he is American by birth. Dr. Wilson's Authentic Indian Chai is the flavor of India. </p>
    <p>To expand your mind, you can read Dr. Wilson's book on Biblical Physics <a href="http://chaiguy.net/biphy/biphy.html">here</a>. </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p align="right"><a href="http://justin.spillthebeans.tv/"> [ contact the site designer ] </a></p>
  </div>
  <img src="/images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a id="contact" target="_blank" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>