<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Dr. Wilson</title>
<style type="text/css">
<!--
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	background-image: url(images/patt_489a4483ee4fa.jpg);
	background-attachment:fixed;

}
.oneColFixCtrHdr #container {
	width: 763px;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 800px;
}
.oneColFixCtrHdr #header {
	background-image: url(images/Header.png);
	height: 210px;
	background-repeat: no-repeat;
}
.oneColFixCtrHdr #container #mainBGRD {
	background-image: url(images/MedBGRD.png);
	height: 525px;
	width: 683px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 15px;
	padding-right: 40px;
	padding-left: 40px;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px;
}
#Layer2 {
	position:absolute;
	left:282px;
	top:223px;
	width:768px;
	height:37px;
	z-index:1;
	visibility: visible;
}
.style1 {font-family: "Times New Roman", Times, serif}
#Layer1 {
	position:absolute;
	left:278px;
	top:586px;
	width:752px;
	height:23px;
	z-index:1;
}
.oneColFixCtrHdr #Layer1 {
	height: 25px;
	width: 763px;
	background-image: url(images/Overlap.png);
	text-align: center;
	left: 281px;
	bottom: 50%;
}
.oneColFixCtrHdr #container #Spacer {
	height: 60px;
}
.style2 {	font-size: small;
	color: #666666;
}
.oneColFixCtrHdr #container #mainBGRD #drwilsonTOP {
	width: 341px;
	float: left;
	height: 110px;
	padding-left: 25px;
}
.oneColFixCtrHdr #container #mainBGRD #drwilsonTOPR {
	float: right;
	width: 316px;
	height: 110px;
}
.oneColFixCtrHdr #container #mainBGRD #DrWilsonPIC {
	height: 331px;
	width: 274px;
	float: left;
}
.style3 {
	font-size: x-small;
	color: #663300;
}
a:link {
	color: #006600;
}
a:visited {
	color: #990000;
}

a#contact:link {
	color: #888;
}
a#contact:visited {
	color: #888;
}


-->
</style>
</head>

<body class="oneColFixCtrHdr" onload="MM_preloadImages('file:///C|/Documents and Settings/Compaq_Administrator/Desktop/ChaiGuy/barLINKSover.png','images/barHOMEover.png','images/barCHAIover.png','images/barORDERover.png','images/barDRWILSONover.png','images/barLINKSover.png')">
<div id="container">
  <!-- end #container -->
  <div id="header"></div>
  <%= partial "shared/tablenav" %>
  <div class="style1" id="mainBGRD">	
    <div id="drwilsonTOP">
      <p>Corperate HQ:</p>
      <p>American-Indian Trading Co. LLC<br />
      Greenville, SC <br />
      USA <br />
      </p>
    </div>
    <div id="drwilsonTOPR">
      <p>&nbsp;</p>
      <p>Email: &nbsp;&nbsp;&nbsp;info ( a t ) chaiguy.net</p>
      <p>Jobs:&nbsp;&nbsp;&nbsp;&nbsp; info ( a t ) chaiguy.net</p>
    </div>
    <p>&nbsp;</p>
    <div id="DrWilsonPIC"><img src="images/DrWilson.png" width="274" height="331" /></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Dr. Wilson was born in India and since then, the rich and exotic Indian culture has enriched his life. He considers India his homeland, though he is American by birth. Dr. Wilson's Authentic Indian Chai is the flavor of India. </p>
    <p>To expand your mind, you can read Dr. Wilson's book on Biblical Physics <a href="http://chaiguy.net/biphy/biphy.html">here</a>. </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p align="right"><a href="http://justin.spillthebeans.tv/"> [ contact the site designer ] </a></p>
  </div>
  <img src="images/Footer.png" width="763" height="25" />
  <div id="Spacer"><span class="style2">&copy; American-Indian Trading Company LLC. | site design by <a id="contact" target="_blank" href="http://justin.spillthebeans.tv/">Justin Wilson</a> </span></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11146792-4");
pageTracker._trackPageview();
} catch(err) {}</script></body>
</html>
